<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Register sucess</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-10">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Đăng ký thành công!</h4>
                    <p>Hệ thống vừa khởi tạo một bức ảnh captcha gốc, lưu ý bức ảnh này cần thiết cho việc đăng nhập về
                        sau !</p>
                    <hr>
                    <p class="mb-0">Nếu bạn đã hiểu, thì hãy nhấn vào nút "Tải xuống" để tải ảnh về máy.</p>
                </div>
            </div>
            <div class="col-10">
                <div class="">
                    <img src="../static/uploads/captcha.png">
                    <img src="../static/uploads/_A.png">

                </div>
                <div>
                    <a href="../static/zipfile/shares.zip" download>
                        <button class="btn btn-success p-2 mt-2">Tải xuống</button>
                    </a>

                </div>
            </div>


        </div>

    </div>



</body>

</html>